h2, li{
    height: 32px;
    padding-left: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
    font-size: 1.8em;
    color: #696969;
    background: url(../img/viñeta.jpg);
    background-position: left 4px;
    background-repeat: no-repeat;
}

ul{
    list-style: none;
}